code {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid #999;
    overflow: auto;
}

code.inline {
   padding: 2px;
   display: inline;
}
