html {
  background-image: url("../img/right_page.png");
  background-repeat: repeat-y;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: ITCSymbolStd;
  font-size: 1em;
  width: 80%;
  margin: 0 auto;
  background: none;
}

.npc-wrapper {
  text-align: center;
}

.starship-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.vehicle-stat-attributes {
  width: 60%;
  float: left;
}

.vehicle-stat-core {
  float: left;
  width: 40%;
}

.vehicle-defense-block-fore, .vehicle-defense-block-port, .vehicle-defense-block-starboard, .vehicle-defense-block-aft {
  position: absolute;
  text-align: center;
  font-family: TeutonFett;
  text-transform: uppercase;
  bottom: 12%;
  font-size: 4.5vw;
}

.vehicle-defense-block-fore {
  left: 12%;
}

.vehicle-defense-block-port {
  left: 36%;
}

.vehicle-defense-block-starboard {
  right: 36%;
}

.vehicle-defense-block-aft {
  right: 12%;
}

.stat-bar, .vehicle-stat-bar {
  position: relative;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: transparent;
}

.stat-bar:before, .vehicle-stat-bar:before {
  content: " ";
  position: absolute;
  width: 98%;
  height: 58%;
  background-color: #a9a9a3;
  left: 1%;
  top: 10%;
}

.npc-skills {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: left;
}

.npc-talents {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: left;
}

.npc-abilities {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: left;
}

.npc-equipment {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: left;
}

.npc-equipment .weapon-name {
  text-transform: capitalize;
}

.npc-equipment .weapon-range {
  text-transform: capitalize;
}

.detail-bar {
  width: 100%;
  max-width: 540px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 5px;
}

.detail-bar:before {
  content: "";
  float: left;
  width: 100%;
  display: block;
  position: absolute;
}

.stat-bar:after, .detail-bar:after, .vehicle-stat-bar:after {
  clear: both;
  content: "";
  display: table;
}

.npc-details-bold {
  font-weight: bold;
}

.npc-details-bold, .npc-details-normal {
  display: inline;
}

.vehicle-defense-block {
  width: 66%;
  height: 9.6vw;
  max-height: 52.8px;
  background-color: transparent;
  background-image: url("../img/detailblock-vehicle-long.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  float: left;
}

.vehicle-defense-block-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-family: TeutonMager;
  font-style: italic;
  text-transform: uppercase;
  top: 10%;
  font-size: 2vw;
}

.stat-block {
  display: inline-block;
  width: 16.667%;
  float: left;
  height: 16.6vw;
  max-height: 90px;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("../img/statblock.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.vehicle-stat-bar .stat-block {
  background-image: url("../img/statblock-vehicle.png");
  width: 33.33%;
  height: 13.3vw;
  max-height: 72px;
}

.detail-block {
  display: inline-block;
  /* float:left; */
  width: calc(33.334% - 12.58%);
  max-height: 56px;
  height: 10vw;
  margin-left: 6.2%;
  margin-right: 6.29%;
  background-image: url("../img/detailblock.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.vehicle-stat-bar .detail-block {
  background-image: url("../img/detailblock-vehicle.png");
  width: 33%;
  max-height: 53px;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.vehicle-stat-bar .detail-block:nth-of-type(3) {
  margin-left: 15%;
  margin-right: 2px;
  float: right;
  margin-top: 1px;
}

.vehicle-stat-bar .detail-block:nth-of-type(4) {
  margin-left: 12px;
  margin-right: 2px;
  float: right;
  margin-top: 1px;
}

.vehicle-stat-bar .stat-block-value {
  top: 22%;
  font-size: 5.5vw;
}

.stat-block-value {
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  font-size: 8vw;
  font-family: TeutonFett;
}

.stat-block-text {
  bottom: 6%;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  font-size: 2vw;
  color: white;
  text-transform: uppercase;
  font-family: TeutonMager;
}

.detail-block-text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-family: TeutonMager;
  font-style: italic;
  text-transform: uppercase;
  top: 10%;
  font-size: 2vw;
}

.detail-block-value {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-family: TeutonFett;
  text-transform: uppercase;
  bottom: 10%;
  font-size: 4.5vw;
}

.die-symbol:after {
  font-family: EotESymbol;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black;
}

.die-symbol.setback:after {
  content: "b";
}

.die-symbol.boost:after {
  content: "b";
  color: #72ccdb;
  -webkit-text-fill-color: #72ccdb;
}

.die-symbol.ability:after {
  content: "d";
  color: #3fac49;
  -webkit-text-fill-color: #3fac49;
}

.die-symbol.difficulty:after {
  content: "d";
  color: #522480;
  -webkit-text-fill-color: #522480;
}

.die-symbol.challenge:after {
  content: "c";
  color: #d1232a;
  -webkit-text-fill-color: #d1232a;
}

.die-symbol.proficiency:after {
  content: "c";
  color: #fff100;
  -webkit-text-fill-color: #fff100;
}

.die-symbol.force:after {
  content: "c";
  color: white;
  -webkit-text-fill-color: white;
}

.die-symbol.threat:after {
  content: "t";
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
}

.die-symbol.advantage:after {
  content: "a";
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
}

.die-symbol.failure:after {
  content: "f";
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
}

.die-symbol.despair:after {
  content: "y";
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
}

.die-symbol.success:after {
  content: "s";
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
}

.die-symbol.triumph:after {
  content: "x";
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
}

.die-symbol.lightSide:after {
  content: "z";
  color: white;
  -webkit-text-fill-color: white;
}

.die-symbol.darkSide:after {
  content: "z";
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
}

.check {
  font-weight: bold;
}

.skill-name {
  text-transform: capitalize;
}

h1, h2, h3, h4, h5, caption {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-family: ElektraMediumPro;
  font-weight: bold;
}

caption {
  font-family: TeutonFett;
  font-weight: normal;
  font-size: 1.3em;
  color: #128287;
  text-align: left;
  margin-bottom: 2px;
}

h5 {
  font-size: 1.15em;
  color: #23869e;
}

h4 {
  font-size: 1.2em;
  color: #866d21;
  text-align: right;
}

div.starship-wrapper h4 {
  max-width: 540px;
  margin: 0 auto 10px;
}

div.npc-wrapper h4 {
  max-width: 540px;
  margin: 0 auto 10px;
}

h3 {
  font-size: 1.5em;
  color: #ca5719;
}

h2 {
  font-size: 2.1em;
  color: #12829b;
}

h1 {
  font-size: 3.9em;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00aeef;
  -webkit-text-fill-color: white;
  word-wrap: break-word;
}

body h1 {
  margin-top: 15px;
}

h2 + p:first-letter {
  color: #12829b;
  font-size: 2.4em;
  float: left;
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: top;
  margin-top: -3px;
  margin-bottom: -15px;
  padding-right: 5px;
}

.blackbox .die-symbol:after {
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: white;
}

.blackbox .die-symbol.threat:after,
.blackbox .die-symbol.advantage:after,
.blackbox .die-symbol.success:after,
.blackbox .die-symbol.failure:after,
.blackbox .die-symbol.triumph:after,
.blackbox .die-symbol.despair:after {
  -webkit-text-stroke-width: 0;
  color: #DDD;
  -webkit-text-fill-color: #DDD;
}

.cornered {
  -webkit-clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 25px, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px), 0 25px);
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.center-children {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.redbox {
  font-style: italic;
  color: #efe071;
  background-color: #721214;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 650px;
  width: 100%;
  display: inline-block;
  margin-top: 25px;
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}

ul {
  padding-left: 35px;
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="rgb(118, 17, 19)" cx="5" cy="5" r="4"/></svg>');
}

ul li {
  padding-left: 10px;
}

.blackbox {
  color: #efece4;
  font-weight: 500;
  background-color: rgba(46, 60, 75, 0.95);
}

.blackbox p b {
  color: white;
}

.blackbox table {
  width: 100%;
}

.blackbox table tr {
  background-image: url(../img/right_page.png);
}

.blackbox ul {
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><circle fill="rgb(255,255,255)" cx="5" cy="5" r="4"/></svg>');
}

.blackbox ul b {
  color: white;
}

.blackbox.cornered h4 {
  text-align: center;
  padding-top: 10px;
  color: #bfbfbe;
  font-family: TeutonFett;
  font-weight: bold;
  font-size: 1.4em;
}

.blackbox.cornered h4 + p:first-letter {
  color: white;
  font-size: 2.4em;
  float: left;
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: top;
  margin-top: -3px;
  margin-bottom: -15px;
  padding-right: 5px;
}

table {
  border-collapse: collapse;
}

td[colspan="100"] {
  background-color: black;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #eccfba;
  background-image: none;
}

td {
  border: 1px solid #939598;
  padding: 5px 10px 5px 5px;
}

th {
  background-color: #a8470e;
  border: 1px solid #939598;
  color: white;
  font-family: TeutonFett;
  font-weight: normal;
  white-space: nowrap;
  font-size: 1.3em;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

@media all and (min-width: 540px) {
  .stat-block-value {
    font-size: 40px;
  }
  .vehicle-stat-bar .stat-block-value {
    font-size: 30px;
  }
  .stat-block-text {
    font-size: 11px;
  }
  .detail-block-text {
    font-size: 12px;
  }
  .vehicle-defense-block-title {
    font-size: 12px;
  }
  .detail-block-value {
    font-size: 25px;
  }
  .vehicle-defense-block-fore, .vehicle-defense-block-port, .vehicle-defense-block-starboard, .vehicle-defense-block-aft {
    font-size: 22px;
  }
}

@media all and (max-width: 900px) {
  body {
    width: 100%;
  }
  h1, h2, h3, h4, h5, p {
    padding-left: 5px;
    padding-right: 5px;
  }
  .blackbox, .redbox-wrapper {
    margin-left: 5px;
    margin-right: 5px;
  }
}
