<div class="vehicle-stat-bar">
    <div class="vehicle-stat-core">
        <statblock display="Silhouette" value="model.silhouette"></statblock>
        <statblock display="Speed" value="model.speed"></statblock>
        <statblock display="Handling" value="model.handling"></statblock>
    </div>
    <div class="vehicle-stat-attributes">
        <defense-block model="model"></defense-block>
        <detail-block value="model.armor" display="Armor"></detail-block>
        <detail-block value="model.system" display="SS Threshold"></detail-block>
        <detail-block value="model.hull" display="HT Threshold"></detail-block>
    </div>
</div>